@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.highlight {
		background: linear-gradient(to top, #b4bd32 5%, transparent 0%);
	}
	.my_underline {
		text-decoration: underline;
		text-decoration-color: #b4bd32;
	}
	.colored {
		color: #b4bd32;
	}
	/* @variants responsive {
		.rot {
			transform: rotate(-90deg);
			transform-origin: left top;
		}
	} */
}
@media (min-width: 768px) {
	.md\:rot {
		transform: rotate(-90deg);
		transform-origin: left top;
	}
}
*::selection {
	background-color: #dae358;
	color: #195555;
}
